
main {
  background-color: white;
  width: 100%;
  height: 700px;
  margin: auto;
  text-align: center;
}

#wrap {
  position: absolute;
  left: 353px;
  top:111px;
}

#french {
  position: absolute;
  left: 592px;
  top: 129px;
}

#electic {
  position: absolute;
  left: 805px;
  top: 95px;
}

#timeline {
  position: absolute;
  left: 325px;
  top: 140px;
}
.tip {
  width: 500px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #edf2f9;
  opacity: 0;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  text-align: center;
  position: absolute;
  top: 268px;
  left: 500px;
}

p {
font-family: 'Open Sans', sans-serif;
  width: 500px;
  margin: auto;
}


.pli {
  float: none;
  text-decoration: none;
  border: none;
}
#navBar {
  background-color: #a87f12;
}

footer {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: antiquewhite;
  text-align: left;
  margin: auto;
  bottom: 0;
}

#authors, #sponsors, #contact {
  float:left;
  padding-left: 250px;
}

.footli {
  list-style: none;
  display:grid;
  float: none;
  border: none;
}

h4 {
  font-family: 'Open Sans', sans-serif;
}
.foota:link{
  font-size: 15px;
}
footer li a {
  display: block;
  padding: 0px;
}
.active {
  background-color: #f8c94d;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  border-left: 1px solid #bbb;
}

li:first-child {
  border-left: none;
}

li a {
  display: block;
  padding: 20px;
}

li a:hover {
  background-color: #f8c94d;
}

a:link {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

a:visited {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-decoration: none;
}

a:hover {
font-family: 'Open Sans', sans-serif;
  color: white;
  text-decoration: none;
}

a:active {
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-decoration: none;
}
